//general styling for .chat-room and all children
.chat-room {
  .chat-item {
    display: flex;
    margin: 0.5em 0.4em;

    .delete-button {
      align-self: flex-start;
      flex-grow: 10;
      margin-top: 0.25em;
      height: 1.5em;
      width: 0;
      border-radius: 50%;
      overflow: hidden;
      visibility: hidden;
    }

    &:hover .delete-button {
      width: 1.5em;
      visibility: visible;
      // margin: auto;

      svg {
        fill: hsl(0, 100%, 33%);
        height: 100%;
        width: 100%;
      }

      &:hover {
        background-color: hsla(0, 100%, 33%, 0.219);
      }

      &:active {
        border: 2px solid hsla(0, 100%, 33%, 0.39);
      }
    }

    .display-pic {
      height: 2em;
      width: 2em;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;

      &:hover + .delete-button {
        width: auto;
        visibility: visible;
      }
    }

    .message {
      display: inline-flex;
      align-items: center;
      flex-shrink: 5;

      .display-name {
        padding: 0.5em;
        border-radius: 20px;
      }

      .content {
        margin: 0 0.3em;
        padding: 0.4em 1.5em;
        border-radius: 20px;
        overflow: hidden;
        line-height: 20px;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
      }
    }
  }
}

//recieved chat messages
.chat-room {
  height: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;

  .chat-item.recieved {
    .delete-button {
    }

    .display-pic {
      &:hover + .delete-button {
      }
    }

    .message {
      flex-wrap: wrap;
      color: var(--text-clr);

      .display-name {
        margin-left: 0.2em;
        background-color: var(--recieved-msg);
      }

      .content {
        background-color: var(--recieved-msg);
        text-align: left;
      }
    }
  }

  //sent chat items

  .chat-item.sent {
    align-self: flex-end;

    .delete-button {
      order: 3;
      flex-basis: 1;
    }

    .display-pic {
      order: 2;
    }

    .message {
      order: 1;
      justify-content: flex-end;

      .display-name {
        order: 1;
        align-self: flex-start;
        margin-right: 0.2em;
        background-color: var(--sent-msg);
      }

      .content {
        background-color: var(--sent-msg);
      }
    }
  }
}

//scrollbar styling
.chat-room {
  overflow-y: scroll;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarColor);
  }
}

.sign-in {
  color: var(--text-clr);
  background-color: var(--auth-btn);
  width: 175px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--auth-btn-border);
  padding: 0.5em;
  border-radius: 3px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    margin-right: 0.5em;
  }

  &:hover {
    background-color: var(--auth-btn-hover);
  }
}
