.topbar {
  align-self: center;
  position: relative;
  height: 6em;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px var(--white-translucent);

  .theme-switcher {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 2.5em;
      width: 2.5em;
      fill: var(--theme-switcher-fill);
      transition: fill 0.5s ease-in-out;

      &:hover {
        fill: var(--theme-switcher-hvr-fill);
      }
    }
  }

  .sign-out {
    height: 80%;
    width: 5em;
    padding: 0 0.5em;
    background-color: var(--auth-btn);
    border: 1px solid var(--auth-btn-border);
    border-radius: 3px;
    font-size: 15px;
    color: var(--text-clr);

    &:hover {
      background-color: var(--auth-btn-hover);
    }
  }
}
