@import './chatRoomStyles.scss';
@import './_inputStyles';

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  height: 100vh;
  display: flex;

  .App {
    height: 95%;
    width: 400px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .topbar {
      height: 9%;
    }
  }
}
