@import './chatRoomStyles.scss';
@import './_inputStyles';

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  height: 100vh;
  display: flex;

  .App {
    height: 95%;
    width: 400px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .topbar {
      height: 9%;
    }

    // .chat-room {
    //   height: 100%;

    //   .chat-item {
    //     padding: 0.3em 0.5em;
    //     display: flex;

    //     .delete-button {
    //       align-self: center;
    //       width: 0;
    //       visibility: hidden;
    //     }

    //     &:hover .delete-button {
    //       width: auto;
    //       visibility: visible;
    //     }

    //     .display-pic {
    //       height: 2em;
    //       width: 2em;
    //       border-radius: 50%;
    //       object-position: center;
    //       object-fit: cover;
    //       // margin-left: 0.5em;
    //     }

    //     .message {
    //       margin-left: 0.5em;
    //       display: inline-flex;
    //       flex-wrap: wrap;
    //       width: 100%;
    //       align-items: center;
    //       // overflow:

    //       .display-name {
    //         padding: 0.5em;
    //         border-radius: 20px;
    //         background-color: blue;
    //       }

    //       .content {
    //         display: block;
    //         // height: 100px;
    //         // margin-left: 0.5em;
    //         // overflow: hidden;
    //         // word-wrap: break-word;
    //         // white-space: normal;
    //       }
    //     }
    //   }
    // }
  }
}
