@import url("https://fonts.googleapis.com/css2?family=Asap&family=Assistant:wght@200;300&family=Exo+2:ital,wght@1,200&family=Fira+Sans:ital,wght@1,200&family=Glory:wght@200;300&family=Karla:ital,wght@0,300;1,200&family=Source+Sans+Pro:wght@300&display=swap");
.chat-room .chat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0.4em;
}

.chat-room .chat-item .delete-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  margin-top: 0.25em;
  height: 1.5em;
  width: 0;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
}

.chat-room .chat-item:hover .delete-button {
  width: 1.5em;
  visibility: visible;
}

.chat-room .chat-item:hover .delete-button svg {
  fill: #a80000;
  height: 100%;
  width: 100%;
}

.chat-room .chat-item:hover .delete-button:hover {
  background-color: rgba(168, 0, 0, 0.219);
}

.chat-room .chat-item:hover .delete-button:active {
  border: 2px solid rgba(168, 0, 0, 0.39);
}

.chat-room .chat-item .display-pic {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-room .chat-item .display-pic:hover + .delete-button {
  width: auto;
  visibility: visible;
}

.chat-room .chat-item .message {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.chat-room .chat-item .message .display-name {
  padding: 0.5em;
  border-radius: 20px;
}

.chat-room .chat-item .message .content {
  margin: 0 0.3em;
  padding: 0.4em 1.5em;
  border-radius: 20px;
  overflow: hidden;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.chat-room {
  height: 100%;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-room .chat-item.recieved .message {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chat-room .chat-item.recieved .message .display-name {
  margin-left: 0.2em;
  background-color: #dedede;
}

.chat-room .chat-item.recieved .message .content {
  background-color: #dedede;
  text-align: left;
}

.chat-room .chat-item.sent {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chat-room .chat-item.sent .delete-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}

.chat-room .chat-item.sent .display-pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.chat-room .chat-item.sent .message {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-room .chat-item.sent .message .display-name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 0.2em;
  background-color: #386dff;
}

.chat-room .chat-item.sent .message .content {
  color: #ebebeb;
  background-color: #386dff;
}

.chat-room {
  overflow-y: scroll;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);
}

.chat-room::-webkit-scrollbar {
  width: 8px;
}

.chat-room::-webkit-scrollbar-track {
  display: none;
}

.chat-room::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
}

.send-message-wrapper {
  position: relative;
  height: 5rem;
  background-color: #7790ac;
  border-top: solid 1px rgba(0, 0, 0, 0.11);
}

.send-message-wrapper .send-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.send-message-wrapper .send-message textarea {
  background-color: #7790ac;
  margin: 0 0.5em;
  position: relative;
  border: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.171);
  bottom: 0;
  resize: none;
  max-height: 5rem;
  height: 18px;
  width: 85%;
  outline: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);
}

.send-message-wrapper .send-message textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.send-message-wrapper .send-message textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.send-message-wrapper .send-message textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.send-message-wrapper .send-message textarea::placeholder {
  color: rgba(255, 255, 255, 0.795);
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 4px;
}

.send-message-wrapper .send-message button.send-message-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #4b7cb4;
  width: 15%;
  height: 4.9rem;
  font-size: 1.7em;
  border: solid 1px rgba(0, 0, 0, 0.11);
}

.send-message-wrapper .send-message button.send-message-button:hover {
  border: solid 2px rgba(0, 0, 0, 0.205);
  background-color: #397bc6;
}

.send-message-wrapper .send-message button.send-message-button:active {
  border: solid 2px rgba(0, 0, 0, 0.205);
  background-color: #397bc6;
  -webkit-box-shadow: inset;
          box-shadow: inset;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10;
  --scrollbarColor: hsla(0, 0%, 0%, 0.6);
  --buttonColor: hsl(212, 41%, 50%);
  --buttonBorderColor: hsl(212, 62%, 43%);
}

body {
  font-family: 'Assistant', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root .App {
  height: 95%;
  width: 80vw;
  min-width: 300px;
  border: 1px solid var(--buttonBorderColor);
  -webkit-box-shadow: 0px 0px 20px -7px var(--buttonBorderColor);
          box-shadow: 0px 0px 20px -7px var(--buttonBorderColor);
  background-color: #98b8dd;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 500px) {
  #root .App {
    width: 100%;
    height: 100%;
  }
}

#root .App .topbar {
  -ms-flex-item-align: center;
      align-self: center;
  height: 7%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.173);
}

#root .App .topbar .sign-out {
  height: 90%;
  width: 5em;
  padding: 0 0.5em;
  background-color: var(--buttonColor);
  border: 1px solid var(--buttonBorderColor);
  border-radius: 3px;
  font-size: 15px;
}

#root .App .signin-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root .App .signin-wrapper .sign-in {
  background-color: var(--buttonColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--buttonBorderColor);
  padding: 0.5em;
  border-radius: 3px;
  font-size: 15px;
}

#root .App button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
}

#root .App textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
}
/*# sourceMappingURL=index.css.map */