@import url("https://fonts.googleapis.com/css2?family=Asap&family=Assistant:wght@200;300&family=Exo+2:ital,wght@1,200&family=Fira+Sans:ital,wght@1,200&family=Glory:wght@200;300&family=Karla:ital,wght@0,300;1,200&family=Source+Sans+Pro:wght@300&display=swap");
*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  --white-translucent: #ffffff2a;
  --grey0: #f8f8f8;
  --grey1: #dbe1e8;
  --grey2: #b2becd;
  --grey3: #6c7983;
  --grey4: #454e56;
  --grey5: #2a2e35;
  --grey6: #12181b;
  --blue5: #63cbf3;
  --topbar-chat-separator: #ffffff2c;
  --primary-blue: #4b7cb4;
  --secondary-blue: #316aaa;
  --tertiary-blue: #2a69b2;
  --blue4: #386dff;
  --blue0: #98b8dd;
  --dark-blue: #28445c;
  --scrollbarColor: hsla(0, 0%, 0%, 0.6);
  --sun-yellow: #6a8bad;
}

.light {
  --auth-btn: var(--primary-blue);
  --auth-btn-hover: var(--tertiary-blue);
  --auth-btn-border: var(--blue0);
  --theme-hover: var(--grey6);
  --root-bg: var(--grey1);
  --app-bg: var(--blue0);
  --sent-msg: var(--blue5);
  --recieved-msg: var(--grey1);
  --txt-area-clr: var(--primary-blue);
  --txt-area-border-clr: var(--grey2);
  --text-clr: var(--grey6);
  --theme-switcher-fill: var(--grey5);
  --theme-switcher-hvr-fill: var(--grey3);
}

.dark {
  --auth-btn: var(--primary-blue);
  --auth-btn-hover: var(--tertiary-blue);
  --auth-btn-border: var(--white-translucent);
  --theme-hover: var(--grey1);
  --root-bg: var(--grey6);
  --app-bg: var(--grey5);
  --sent-msg: var(--blue4);
  --recieved-msg: var(--dark-blue);
  --txt-area-clr: var(--grey4);
  --txt-area-border-clr: var(--grey2);
  --text-clr: var(--grey0);
  --theme-switcher-fill: var(--grey1);
  --theme-switcher-hvr-fill: var(--grey3);
}

body {
  font-family: 'Assistant', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--root-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-clr);
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

#root .App {
  height: 95%;
  width: 80vw;
  min-width: 300px;
  border: 1px solid var(--auth-btn-border);
  -webkit-box-shadow: 0px 0px 20px -7px var(--buttonBorderColor);
          box-shadow: 0px 0px 20px -7px var(--buttonBorderColor);
  background-color: var(--app-bg);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

@media (max-width: 500px) {
  #root .App {
    width: 100%;
    height: 100%;
  }
}

#root .App button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  font-weight: bolder;
  -webkit-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

.topbar {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  height: 7%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px var(--white-translucent);
}

.topbar .theme-switcher {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar .theme-switcher svg {
  height: 2.5em;
  width: 2.5em;
  fill: var(--theme-switcher-fill);
  -webkit-transition: fill 0.5s ease-in-out;
  transition: fill 0.5s ease-in-out;
}

.topbar .theme-switcher svg:hover {
  fill: var(--theme-switcher-hvr-fill);
}

.topbar .sign-out {
  height: 90%;
  height: 2.5em;
  width: 5em;
  padding: 0 0.5em;
  background-color: var(--auth-btn);
  border: 1px solid var(--auth-btn-border);
  border-radius: 3px;
  font-size: 15px;
  color: var(--text-clr);
}

.topbar .sign-out:hover {
  background-color: var(--auth-btn-hover);
}

.chat-room .chat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0.4em;
}

.chat-room .chat-item .delete-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  margin-top: 0.25em;
  height: 1.5em;
  width: 0;
  border-radius: 50%;
  overflow: hidden;
  visibility: hidden;
}

.chat-room .chat-item:hover .delete-button {
  width: 1.5em;
  visibility: visible;
}

.chat-room .chat-item:hover .delete-button svg {
  fill: #a80000;
  height: 100%;
  width: 100%;
}

.chat-room .chat-item:hover .delete-button:hover {
  background-color: rgba(168, 0, 0, 0.219);
}

.chat-room .chat-item:hover .delete-button:active {
  border: 2px solid rgba(168, 0, 0, 0.39);
}

.chat-room .chat-item .display-pic {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-room .chat-item .display-pic:hover + .delete-button {
  width: auto;
  visibility: visible;
}

.chat-room .chat-item .message {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.chat-room .chat-item .message .display-name {
  padding: 0.5em;
  border-radius: 20px;
}

.chat-room .chat-item .message .content {
  margin: 0 0.3em;
  padding: 0.4em 1.5em;
  border-radius: 20px;
  overflow: hidden;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  -webkit-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

.chat-room {
  height: 100%;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-room .chat-item.recieved .message {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--text-clr);
}

.chat-room .chat-item.recieved .message .display-name {
  margin-left: 0.2em;
  background-color: var(--recieved-msg);
}

.chat-room .chat-item.recieved .message .content {
  background-color: var(--recieved-msg);
  text-align: left;
}

.chat-room .chat-item.sent {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chat-room .chat-item.sent .delete-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
}

.chat-room .chat-item.sent .display-pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.chat-room .chat-item.sent .message {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-room .chat-item.sent .message .display-name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 0.2em;
  background-color: var(--sent-msg);
}

.chat-room .chat-item.sent .message .content {
  background-color: var(--sent-msg);
}

.chat-room {
  overflow-y: scroll;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);
}

.chat-room::-webkit-scrollbar {
  width: 8px;
}

.chat-room::-webkit-scrollbar-track {
  display: none;
}

.chat-room::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
}

.sign-in {
  color: var(--text-clr);
  background-color: var(--auth-btn);
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--auth-btn-border);
  padding: 0.5em;
  border-radius: 3px;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sign-in svg {
  margin-right: 0.5em;
}

.sign-in:hover {
  background-color: var(--auth-btn-hover);
}

.send-message-wrapper {
  position: relative;
  height: 8rem;
  background-color: var(--txt-area-clr);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.send-message-wrapper .send-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.send-message-wrapper .send-message textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--text-clr);
  font-family: 'Assistant', sans-serif;
  font-weight: bolder;
  background-color: var(--txt-area-clr);
  margin: 0 0.3em;
  border: 0;
  outline: none;
  border-bottom: solid 1px var(--txt-area-border-clr);
  resize: none;
  max-height: 100%;
  height: 18px;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor);
  -webkit-transition: background-color 0.5s ease, color 1s ease;
  transition: background-color 0.5s ease, color 1s ease;
}

.send-message-wrapper .send-message textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.send-message-wrapper .send-message textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.send-message-wrapper .send-message textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.send-message-wrapper .send-message textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar {
  width: 7px;
  display: none;
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 4px;
}

.send-message-wrapper .send-message button.send-message-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-left: solid 1px var(--auth-btn-border);
  background-color: var(--auth-btn);
  width: 15%;
  height: 100%;
  font-size: 1.7em;
}

.send-message-wrapper .send-message button.send-message-button:hover {
  background-color: var(--auth-btn-hover);
}

.send-message-wrapper .send-message button.send-message-button:active {
  background-color: #397bc6;
  -webkit-box-shadow: inset;
          box-shadow: inset;
}
/*# sourceMappingURL=index.css.map */