.chat-room {
  height: 100%;
}

.chat-room .chat-item.recieved {
  padding: 0.3em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-room .chat-item.recieved .delete-button {
  height: 2em;
  width: 0;
  overflow: hidden;
  vertical-align: center;
  visibility: hidden;
}

.chat-room .chat-item.recieved:hover .delete-button {
  width: auto;
  visibility: visible;
}

.chat-room .chat-item.recieved .display-pic {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-room .chat-item.recieved .message {
  margin-left: 0.5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat-room .chat-item.recieved .message .display-name {
  padding: 0.5em;
  border-radius: 20px;
  background-color: blue;
}

.chat-room .chat-item.recieved .message .content {
  overflow: hidden;
  background-color: red;
  line-height: 25px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.chat-room .chat-item.sent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-room .chat-item.sent .delete-button {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  height: 2em;
  width: 0;
  overflow: hidden;
  vertical-align: center;
  visibility: hidden;
}

.chat-room .chat-item.sent:hover .delete-button {
  width: auto;
  visibility: visible;
}

.chat-room .chat-item.sent .display-pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-room .chat-item.sent .message {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 0.5em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.chat-room .chat-item.sent .message .display-name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0.5em;
  border-radius: 20px;
  background-color: blue;
}

.chat-room .chat-item.sent .message .content {
  overflow: hidden;
  background-color: red;
  line-height: 25px;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.send-message-wrapper {
  position: relative;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.send-message-wrapper .send-message {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.send-message-wrapper .send-message textarea {
  position: relative;
  bottom: 0;
  resize: none;
  max-height: 5rem;
  height: 18px;
  width: 85%;
  border: 0;
  outline: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 16px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: red rgba(0, 0, 255, 0);
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar {
  width: 8px;
}

.send-message-wrapper .send-message textarea::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 4px;
}

.send-message-wrapper .send-message button {
  width: 15%;
  height: 5rem;
  font-size: 1.5em;
  border: 0;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root .App {
  height: 95%;
  width: 400px;
  border: 2px solid black;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#root .App .topbar {
  height: 9%;
}
/*# sourceMappingURL=index.css.map */