@import url('https://fonts.googleapis.com/css2?family=Asap&family=Assistant:wght@200;300&family=Exo+2:ital,wght@1,200&family=Fira+Sans:ital,wght@1,200&family=Glory:wght@200;300&family=Karla:ital,wght@0,300;1,200&family=Source+Sans+Pro:wght@300&display=swap');

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  --white-translucent: #ffffff2a;
  --grey0: #f8f8f8;
  --grey1: #dbe1e8;
  --grey2: #b2becd;
  --grey3: #6c7983;
  --grey4: #454e56;
  --grey5: #2a2e35;
  --grey6: #12181b;
  --blue5: #63cbf3;
  --topbar-chat-separator: #ffffff2c;
  --primary-blue: #4b7cb4;
  --secondary-blue: #316aaa;
  --tertiary-blue: #2a69b2;
  --blue4: #386dff;
  --blue0: #98b8dd;
  --dark-blue: #28445c;
  --scrollbarColor: hsla(0, 0%, 0%, 0.6);
  --sun-yellow: #6a8bad;
}

.light {
  --auth-btn: var(--primary-blue);
  --auth-btn-hover: var(--tertiary-blue);
  --auth-btn-border: var(--blue0);
  --theme-hover: var(--grey6);
  --root-bg: var(--grey1);
  --app-bg: var(--blue0);
  --sent-msg: var(--blue5);
  --recieved-msg: var(--grey1);
  --txt-area-clr: var(--primary-blue);
  --txt-area-border-clr: var(--grey2);
  --text-clr: var(--grey6);
  --theme-switcher-fill: var(--grey5);
  --theme-switcher-hvr-fill: var(--grey3);
}

.dark {
  --auth-btn: var(--primary-blue);
  --auth-btn-hover: var(--tertiary-blue);
  --auth-btn-border: var(--white-translucent);
  --theme-hover: var(--grey1);
  --root-bg: var(--grey6);
  --app-bg: var(--grey5);
  --sent-msg: var(--blue4);
  --recieved-msg: var(--dark-blue);
  --txt-area-clr: var(--grey4);
  --txt-area-border-clr: var(--grey2);
  --text-clr: var(--grey0);
  --theme-switcher-fill: var(--grey1);
  --theme-switcher-hvr-fill: var(--grey3);
}

body {
  font-family: 'Assistant', sans-serif;
  //Asap, Assistant, Exo 2, Fira Sans, Glory, Karla, Source Sans Pro
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--root-bg);
  display: flex;
  color: var(--text-clr);
  transition: background-color 0.5s ease-in-out;

  .App {
    height: 95%;
    width: 80vw;
    min-width: 300px;
    border: 1px solid var(--auth-btn-border);
    box-shadow: 0px 0px 20px -7px var(--buttonBorderColor);
    background-color: var(--app-bg);
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: background-color 0.5s ease-in-out;

    @media (max-width: 500px) {
      width: 100%;
      height: 100%;
    }

    button {
      appearance: none;
      font-family: inherit;
      font-weight: bolder;
      transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
    }
  }
}

@import './_topBar';
@import './_chatRoomStyles';
@import './_inputStyles';
